<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>User Page</title>
    <style>
        table { border-collapse: collapse; margin: 20px 0; width: 60%; }
        th, td { padding: 8px; border: 1px solid #ddd; }
    </style>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <h1>Добро пожаловать, <span th:text="${user.name}"></span>!</h1>

    <table>
        <tr>
            <th>ID</th>
            <td th:text="${user.id}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="${user.email}"></td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>
                <span th:if="${user.roles != null}">
        <span th:each="role : ${user.roles}" th:text="${role.name}"></span>
    </span>
            </td>
        </tr>
    </table>

    <div sec:authorize="hasRole('ADMIN')">
        <p><a th:href="@{/admin/users}">Admin Panel</a></p>
    </div>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>